# markdown basics
## markdown basics
### markdown basics
#### markdown basics
##### markdown basics
###### markdown basics
* **point1**
* *point2*
* ***point3***

*Normal text
 *sublist 1
 *sublist2


>1.point1
>2.point2

* google site -- [1] http://www.google.com
* man site -- [2] http://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

## python basics
* python version 3.7
- function programming
- object oriented programming
- scripting programming

In [2]:
print("hello,gitam")

hello,gitam

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("hello,gitam","|||",end ="")
print("hyderabad",end ="|||")
print("python programming")

hello,gitam |||hyderabad|||python programming

# Assignment

In [7]:
n1 = 100 
a = b = c = 20
a1,b1,c1 = 111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversions
  a = 100;
  s1 = "python"
  s2 = 'p'
  f1 = 10,2
  print(a,s1,s2,f1)
  print(type(a),type(s1),type(s2),type(f1))

In [9]:
a = 100;
s1 = "python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

In [1]:
i = 100
print(type(i))
s1 = str(i)
print(type(s2))

<class 'int'>

NameError: name 's2' is not defined

In [2]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

# Reading a value
  * input("message") --string

In [1]:
s1 = input("enter your name")
print(s1)
print(type(s1))

enter your namevishishta
vishishta
<class 'str'>

In [2]:
# want a number as a input
n1 = int(input("enter a number"))
print(n1,type(n1))

enter a number123
123 <class 'int'>

## operators
  * operator is a symbols is used to perform a specific kind of operation

## Arithmatic operators
 - +
 - -
 - /
 - *
 - %
 - //
 - =
 - **

In [3]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1//10)
print(n1%10)
print(n1**10)

1244
1224
12340
123.4
123
4
8187505353567209228244052427776

### Presedence of the Arth operators

- parenthesis
- power
- multiplication
- addition

 ### Left to right

In [4]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [5]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational operators
- ==
- !=
- Greater(>)
- Less than(<)
- Less than or equals to(<=)
- Greater than or equals to(>=)

In [6]:
x = 10
a1 = x > 15
print(a1)

False

### Logic operators
 used to combine more than single condition
 - and
 - or
 - not

In [8]:
i = 100
a1 = (i > 15)and(i < 800)
a2 = (i > 15)and(i > 800)
print(a1)
print(a2)

True
False

### Conditional statements
- conditional statements
- looping statements

#### if-else statement

**syntax**

if Boolean_condition:
statements
else:
statements

In [14]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number13
odd

In [15]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number10
no

In [18]:
# test given number is positive,negative or zero
n = int(input("enter a number"))
if n == 0:
    print("zero")
elif n>0:
        print("positive number")
elif n<0:
        print("negative number")

enter a number 5
positive number